/* CUSTOM ROOT STYLE */

:root {
  /* COLORS */
  --color-primary: #e76f51;
  --color-accent: #f4a261;
  --color-secondary: #2a9d8f;
  --color-background: #ffffff;
  --color-dark-orange: #d45c3d;
  --color-dark-grey: #282828;

  /* COLORS - TEXT */
  --text-dark: #333333;
  --text-light: #888888;
  --text-white: #ffffff;

  /* FONTS */
  --font-heading: 'DM Sans', sans-serif;
  --font-body-text: 'Inter', sans-serif;

  /* FONTS - SIZE */
  --h1-size: 48px;
  --h2-size: 36px;
  --h3-size: 28px;
  --h4-size: 22px;

  --body-regular-size: 16px;
  --body-regular-sm-size: 14px;
  --body-regular-md-size: 18px;
  --body-regular-lg-size: 20px;

  /* FONTS - WEIGHTS */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400; /* Often the default for normal text */
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* SPACING */
  --space-sections: 30px;
  --space-cards: 15px;
  --space-section-padding: 165px;
}

/* RESETTING DEFAULT STYLES */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* STYLES */
body {
  display: flex;
  flex-direction: column;
  /* gap: var(--space-sections); */
  font-family: var(--font-body-text);
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-bold);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: var(--color-dark-grey);
  text-decoration: none;
}

button {
  width: 165px;
  height: 48px;
  border: none;
  border-radius: 8px;
  font-weight: var(--font-weight-bold);
  font-size: var(--body-regular-size);
}

button:hover {
  cursor: pointer;
}

/* NAVBAR STYLING */

.navbar {
  padding: 0 165px;
  background-color: var(--color-background);
  height: 80px;
  display: flex;
  gap: var(--space-cards);
  justify-content: space-between;
  align-items: center;
}

.navbar li {
  text-align: center;
  flex-basis: 165px;
  font-family: var(--font-heading);
  font-size: var(--body-regular-size);
}

.navbar button {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.links-border-underline {
  padding-bottom: 12px;
  border-bottom: 4px solid var(--color-primary);
}

.nav-border-underline:hover {
  transform: translateY(var(--space-cards));
  transition: 0.3s ease-in-out;
}

.nav-links {
  text-decoration: none;
  padding-bottom: 26px;
}

/* HERO SECTION */
.hero-section {
  padding: 0 var(--space-section-padding);
  background-image: url('../public/BackgroundImage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  min-width: 100%;
  max-width: 100%;
  min-height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-section img {
  z-index: -1;
  position: absolute;
  width: 100vw;
}

.banner-titles {
  font-weight: var(--font-weight-bold);
  color: white;
  display: flex;
  flex-direction: column;
  gap: var(--space-cards);
}

.banner-titles p {
  font-size: var(--body-regular-size);
}

.CTA-buttons {
  position: absolute;
  bottom: var(--space-sections);
  display: flex;
  flex-direction: column;
  gap: var(--space-cards);
}

.CTA-buttons .donate-now {
  background-color: var(--text-dark);
  color: var(--color-background);
}

.CTA-buttons .learn-more {
  background-color: rgba(231, 111, 81, 0.25);
  border: 2px solid var(--text-dark);
}

/* STATS SECTION */

.stats-section {
  margin-top: var(--space-cards);
  padding: 0 var(--space-section-padding);
}

.stats-cards {
  margin-top: var(--space-cards);
  display: flex;
  justify-content: space-between;
  gap: var(--space-cards);
}

.stats-cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-cards h4,
.stats-cards p {
  align-self: flex-start;
}

.stats-cards p {
  text-align: center;
}

.text-highlight {
  color: var(--color-primary);
}
